<a href="https://colab.research.google.com/github/parshvak26/Python-coding-practice/blob/main/Coding_practice_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Python**

In [21]:
print('Hello world !!!!')

Hello world !!!!

In [1]:
radius = 5
pi = 3.14159

area = pi * radius**2

print("The area of the circle is:", area)

The area of the circle is: 78.53975

In [2]:
num = 17
is_prime = True

for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
        is_prime = False
        break

if is_prime:
    print(num, "is a prime number.")
else:
    print(num, "is not a prime number.")

17 is a prime number.

In [3]:
celsius = 25
fahrenheit = (celsius * 9/5) + 32

print(celsius, "degrees Celsius is equal to", fahrenheit, "degrees Fahrenheit.")

25 degrees Celsius is equal to 77.0 degrees Fahrenheit.

In [ ]:
numbers = [5, 9, 2, 14, 7, 10]
max_num = numbers[0]

for num in numbers:
    if num > max_num:
        max_num = num

print("The maximum number in the list is:", max_num)

In [5]:
n = 10
fib_sequence = []

a, b = 0, 1
for _ in range(n):
    fib_sequence.append(a)
    a, b = b, a + b

print("The Fibonacci sequence up to", n, "terms is:", fib_sequence)

The Fibonacci sequence up to 10 terms is: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [6]:
string = "racecar"
is_palindrome = True

for i in range(len(string)//2):
    if string[i] != string[-i-1]:
        is_palindrome = False
        break

if is_palindrome:
    print(string, "is a palindrome.")
else:
    print(string, "is not a palindrome.")

racecar is a palindrome.

In [7]:
name = "John"
age = 25
height = 1.75
is_student = True

print(name, age, height, is_student)

John 25 1.75 True

In [8]:
a = 10
b = 3

addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b
modulo = a % b
floor_division = a // b
exponentiation = a ** b

print(addition, subtraction, multiplication, division, modulo, floor_division, exponentiation)

13 7 30 3.3333333333333335 1 3 1000

In [9]:
a = 10
b = 5

equal = a == b
not_equal = a != b
greater_than = a > b
less_than = a < b
greater_than_equal = a >= b
less_than_equal = a <= b

print(equal, not_equal, greater_than, less_than, greater_than_equal, less_than_equal)

False True True False True False

In [10]:
num = 7

if num % 2 == 0:
    print(num, "is even.")
elif num % 2 != 0:
    print(num, "is odd.")
else:
    print(num, "is neither even nor odd.")

7 is odd.

In [11]:
for i in range(1, 6):
    print(i)

num = 10
while num > 0:
    print(num)
    num -= 1

1
2
3
4
5
10
9
8
7
6
5
4
3
2
1

In [12]:
numbers = [1, 2, 3, 4, 5]
names = ["Alice", "Bob", "Charlie"]
mixed = [1, "two", 3.0, True]

numbers.append(6)
names.insert(0, "Dave")
mixed.remove("two")

print(numbers, names, mixed)

[1, 2, 3, 4, 5, 6] ['Dave', 'Alice', 'Bob', 'Charlie'] [1, 3.0, True]

In [13]:
point = (3, 4)
coordinates = ((1, 2), (3, 4), (5, 6))

x, y = point
print(x, y)

print(coordinates[1])

3 4
(3, 4)

In [14]:
student = {
    "name": "John",
    "age": 20,
    "grade": "A"
}

print(student["name"])
print(student.get("age"))
print(student.keys())
print(student.values())

John
20
dict_keys(['name', 'age', 'grade'])
dict_values(['John', 20, 'A'])

In [15]:
fruits = {"apple", "banana", "orange", "apple"}

fruits.add("grape")
fruits.remove("banana")

print(fruits)

{'apple', 'grape', 'orange'}

In [16]:
def greet(name):
    print("Hello, " + name + "!")

greet("Alice")

Hello, Alice!

In [17]:
import math

x = 4.7

print(math.floor(x))
print(math.sqrt(x))

4
2.16794833886788

In [18]:
num1 = 10
num2 = 0

try:
    result = num1 / num2
except ZeroDivisionError:
    print("Error: Division by zero!")
else:
    print("Result:", result)

Error: Division by zero!

In [19]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def drive(self):
        print("Driving", self.brand, self.model)

car1 = Car("Toyota", "Corolla")
car1.drive()

Driving Toyota Corolla

# Numpy

Introduction to arrays in NumPy

Creating NumPy arrays

Array indexing and slicing

Array manipulation (reshaping, resizing, stacking, splitting)

Universal functions (element-wise operations)

Array aggregation and statistics (min, max, mean, sum, etc.)

Broadcasting in NumPy

Random number generation with NumPy

Linear algebra operations (dot product, matrix multiplication, eigenvalues)

Boolean indexing and masking

Handling missing values in arrays

Loading and saving arrays from/to files

# Pandas

Introduction to Pandas data structures (Series, DataFrame)

Creating, accessing, and manipulating Series objects

Creating, accessing, and manipulating DataFrame objects

Indexing and selecting data from Series and DataFrame

Filtering and querying data

Handling missing data (NaN values)

Data cleaning and preprocessing techniques

Working with dates and times in Pandas

Merging, joining, and concatenating DataFrames

Grouping and aggregating data

Applying functions to data (apply, map)

Data visualization with Pandas

Input and output operations (reading from and writing to different file formats)